/META-INF/
/README
/analysis-extras/
/books_numeric_ids.csv
/cities-Intersects-BBox.txt
/clustering/
/conf/
/data/
/dih/
/dihextras/
/exampledocs/
/extraction/
/langid/
/lib-dirs/
/log4j.properties
/mailing_lists.pdf
/old-solr-example/
/org/
/overview.html
/solr/
/solrj/
/spellings.txt
/states-Intersects-BBox.txt
/states-IsWithin-BBox.txt
/uima/
/velocity/
